*{
    padding: 0;
    margin:0;
}

@font-face {
    font-family: "myFirstFont-bold";
    src:url("../fonts/ponter/ponter-bold.ttf");
}

@font-face {
    font-family: "myFirstFont-alt";
    src:url("../fonts/ponter/ponter-alt.ttf");
}


@font-face {
    font-family: "mySecondFont";
    src:url("../fonts/poppins/poppins-regular.ttf");
}

html{
    font-size: 62.5%;
}

/*
---------------------------------------------------------------------------------------------------------
INDEX
*/

.index_main_container{
    overflow: hidden;
}

.index_main_section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20rem;
    padding-bottom: 20rem;
    background-image: url(../img/INDEX-bg-1920x1080.svg);
}

.logo{
    margin-bottom: 2rem;
}

.index_main_section2{
    padding-top: 5rem;
    padding-bottom: 10rem;
    background-color: #2C3238;
}

.index_main_section3{
    padding-top: 12rem;
    background-color: #F3F6F0;

}

.index_row_90{
    padding: 0 5vw;
    width: 90vw;
}

.index_main_section4{
    width: 90%;
    padding-top: 12rem;
    padding-bottom: 12rem;
    background-color: #2C3238;
}

.index_main_section5{
    padding: 12rem 0;
    background-color: #F3f6f0;
}

.h3_index{
    font-family: "myFirstFont-alt";
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 1rem;
    padding-bottom: 2rem;
    margin-top: 5rem;
    text-align: center;
    color: #F3F6F0;
}

.h6_index{
    font-family: "mySecondFont";
    font-size: 2rem;
    line-height: 3.5rem;
    color: #F3f6f0;
    margin-bottom: 3.5rem;
    text-align: center;
}

.h2_index{
    font-family: "myFirstFont-bold";
    font-size: 10rem;
    line-height: 11rem;
    letter-spacing: 1rem;
    text-align: left;
    color: #2C3238;
    padding-bottom: 4rem;
}


/*
---------------------------------------------------------------------------------------------------------
ABOUT
*/


.about_main_container{
    width: 90%;
    overflow: hidden;
    padding-top: 5rem;
}

.about_main_section1{
    margin-bottom: 10rem;
}

.about_main_section2,
.about_main_section3,
.about_main_section4, 
.about_main_section5,
.about_main_section6{
    padding-top: 10rem;
}

.about_main_section6{
    padding-bottom: 20rem;
}

/*-----------------------------*/

.about_main_section_details{
    padding-bottom: 3rem;
}

.about_main_card--default{
    width: 400px;
    height: 400px;
    background-color: #FFE500;
    border-radius: 30px ;
    padding-top: 5rem;
}

.about_main_card--hover{
    width: 400px;
    height: 400px;
    background-color: #2C3238;
    border-radius: 30px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 5rem;
    box-shadow: 4px 4px 4px 0px rgba(58, 58, 58, 0.10);
}

/*-----------------------------*/

.about_main_section2_card{
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.about_main_section2_card_p{
    padding-top: 2rem;
}

.h5_about_section2{
    font-family: "mySecondFont";
    font-size: 3rem;
    line-height: 5rem;
    letter-spacing: 0.5rem;
    padding-top: 2rem;
}

.p_about_section2{
    font-family: "mySecondFont";
    font-size: 1.8rem;
    line-height: 2.8rem;
    
}

/*-----------------------------*/

.frame_stroke{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    padding-left: 40px;
}

.about_yellowstroke{
    width: 400px;
}

/*-----------------------------*/

.about_main_section4_details{
    display: flex;
    flex-direction: row;
}

.about_main_section4_col2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

/*-----------------------------*/


.p_about_section3{
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.p_about_section1_card{
    font-family: "mySecondFont";
    font-size: 1.8rem;
    line-height: 3.5rem;
    width: 350px;
    color: #F0F0F0;
    text-align: center;
}

.h3_about{
    font-family: "myFirstFont-alt";
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 1rem;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 3rem;
    margin-top: 10rem;
    color: #2C3238;
}

.h2_about{
    font-family: "myFirstFont-bold";
    font-size: 8rem;
    line-height: 10rem;
    letter-spacing: 1rem;
    text-align: center;
    padding-bottom: 3rem;
    color: #2C3238;
}

.h2_about_card{
    font-family: "myFirstFont-bold";
    font-size: 8rem;
    line-height: 10rem;
    letter-spacing: 1rem;
    text-align: center;
    -webkit-text-stroke: .01rem #2C3238;
    text-shadow: -2px -2px 0 #2C3238,
                2px -2px 0 #2C3238,
                -2px 2px 0 #2C3238,
                2px 2px 0 #2C3238;
    color: #F0F0F0;
}

.h4_about{
    font-family: "mySecondFont";
    font-size: 6rem;
    line-height: 10rem;
}

.h5_about{
    font-family: "myFirstFont-alt";
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.5rem;
    color: #F0F0F0;
    padding-bottom: 2rem;
}

.h6_about{
    font-family: "myFirstFont-alt";
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.5rem;
    color: #F0F0F0;
}

.h5_about_section3{
    font-family: "mySecondFont";
    font-size: 3rem;
    line-height: 5rem;
    letter-spacing: 0.5rem;
    position: absolute;
    padding-left: 6rem;
}

/*ABOUT responsive*/

@media only screen and (min-width: 1201px) and (max-width: 1400px) {

    .about_main_card--default{
        width: 350px;
        height: 350px;
    }
    
    .about_main_card--hover{
        width: 350px;
        height: 350px;
        padding-top: 4rem;
    }

    .p_about_section1_card{
            font-size: 1.6rem;
            line-height: 3rem;
            width: 300px;
    }

    .about_main_section2_card{
        display: flex;
        flex-direction: column;
        padding-right: 1rem;
    }

    .h5_about_section2{
        font-size: 2.5rem;
        line-height: 4rem;
        letter-spacing: 0.5rem;
        padding-top: 2rem;
    }
    
    .p_about_section2{
        font-size: 1.7rem;
        line-height: 2.7rem;
    }

    }
    


@media only screen and (min-width: 1201px) {

    .about_main_card--default{
        position: absolute;
    }

    .about_main_card--default:hover{
        display: none;
}
}


@media only screen and (min-width:769px) and (max-width:1200px) {

    .about_main_frame_card{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 5rem;
    }

    .about_main_card--default{
        margin-right: 5rem;
        width: 350px;
        height: 350px;
    }

    .about_main_card--hover{
        width: 350px;
        height: 350px;
    }

    .p_about_section1_card{
        font-size: 1.6rem;
        line-height: 2.6rem;
        width: 280px;
    }

    .about_main_section2_card{
        display: flex;
        flex-direction: column;
        padding-right: 1rem;
    }

    .h5_about_section2{
        font-size: 2.5rem;
        line-height: 4rem;
        letter-spacing: 0.5rem;
        padding-top: 2rem;
    }
    
    .p_about_section2{
        font-size: 1.7rem;
        line-height: 2.7rem;
    }

}


@media only screen and (min-width:769px) and (max-width:1400px) {

    .about_main_section4_details{
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .about_main_section4_heading{
        padding-bottom: 2rem;
    }


}

@media only screen and (min-width: 991px) {
    .about_main_section3_subheading{
        padding-left: 5rem;
    }
}


@media only screen and (max-width: 990px) {

    .arrow_down{
        display: inline;
        padding-left: 2rem;
    }
    .arrow_side{
        display: none;
    }
    .about_main_section_heading{
        display: flex;
        flex-direction: row;
        padding-bottom: 5rem;
    }

    .frame_stroke{
        padding-left: 20rem;
    }
}

@media only screen and (max-width: 768px) {

    .about_main_frame_card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
    }

    .about_main_card--default{
        margin-bottom: 5rem;
    }

    .about_main_section2_card{
        display: flex;
        flex-direction: column;
    }

    .h5_about_section2{
        font-size: 2.5rem;
        line-height: 4rem;
        letter-spacing: 0.5rem;
        padding-top: 2rem;
    }
    
    .p_about_section2{
        font-size: 1.7rem;
        line-height: 2.7rem;
    }

    .about_main_section_img{
        display: none;
    }
}

@media only screen and (max-width: 576px) {

    .about_main_frame_card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
    }

    .about_main_card--default{
        width: 280px;
        height: 280px;
        margin-bottom: 5rem;
        padding-top: 3rem;
    }

    .about_main_card--hover{
        width: 280px;
        height: 300px;
    }

    .p_about_section1_card{
        font-size: 1.4rem;
        line-height: 2.2rem;
        width: 240px;
    }

    .h5_about{
        font-size: 2rem;
        line-height: 3rem;
        width: 240px;
    }

    .h2_about_card{
        font-size: 6rem;
        line-height: 8rem;
        letter-spacing: 0.5rem;
    }

    .h2_about{
        font-size: 6rem;
        line-height: 7rem;
        letter-spacing: 0.5rem;
        width: 90%;
    }

    .h4_about{
        font-size: 5rem;
        line-height: 7rem;
    }

    .h5_about_section3{
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    .frame_stroke{
        padding-left: 15rem;
    }

    .about_yellowstroke{
        width: 280px;
    }

    .p_about_section3{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .h4_about_section{
        font-size: 4.5rem;
        line-height: 5.5rem;
        padding-bottom: 2rem;
    }

    .about_main_section4_details{
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .about_main_section4_heading{
        padding-bottom: 2rem;
    }
}

/*
---------------------------------------------------------------------------------------------------------
WORK
*/

.work_main_heading{
    margin-bottom: 7rem;
}

.work_main_img_50{
    width: 100%;
    margin-bottom: 2rem;
}

.work_main_img_25{
    width: 100%;
    margin-bottom: 2rem;
}

.work_main_container{
    width: 90%;
    overflow: hidden;
    padding-top: 12rem;
}

.work_main_section1{
    margin-top: 10rem;
}

.work_main_card_project{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10rem;
    padding: 0 1rem;
}

.work_main_section3{
    padding: 10rem 0;
}

.work_main_card_project_latest{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 10rem;

}

.arrow_down{
    display: none;
}

.h2_work{
    font-family: "myFirstFont-bold";
    font-size: 10rem;
    line-height: 11rem;
    letter-spacing: 1rem;
    text-align: left;
    color: #2C3238;
}

.p_work{
    font-family: "mySecondFont";
    font-size: 2rem;
    line-height: 3rem;
    color:  #2C3238;
    text-align: left;
    display: inline;
}

.h6_work{
    font-family: "myFirstFont-alt";
    font-size: 2.5rem;
    line-height: 3.5rem;
    letter-spacing: 0.5rem;
    color:  #2C3238;
    text-align: left;
}

/*WORK responsive*/

@media only screen and (max-width: 1200px) {

    .work_main_section3_col1{
        padding-right: 2rem;
    }
}

@media only screen and (max-width: 990px) {

    .work_main_section3_col1{
        padding-bottom: 5rem;
    }
    .arrow_down{
        display: inline;
        padding-left: 2rem;
    }
    .arrow_side{
        display: none;
    }
    .work_main_section3_col1{
        display: flex;
        flex-direction: row;
    }
}

/*
---------------------------------------------------------------------------------------------------------
CAREERS
*/

.careers_main_container{
    padding-top: 20rem;
    padding-bottom: 10rem;
    width: 90%;
}

.careers_main_section2{
    padding-top: 10rem;
}

.careers_illustration{
    width: 90%;
}

.h4_careers_heading{
    font-family: "mySecondFont";
    font-size: 6rem;
    line-height: 10rem;
}

/*CAREERS accordion*/

.accordion{
    background: transparent;
}

.accordion-item{
    background-color: #2C3238;
    border: none;
    margin-bottom: 2rem;
}

.accordion-body{
    background-color: #2C3238;
    outline: none;
    border: none;
}

.accordion-header{
    border-radius: 12px;
    outline: 1px solid #F3f6f0;
    height: 7rem;
    
}

.accordion-button{
    background: transparent;
    margin-top: 0;
    padding-top: 2rem;
    outline: none;
    border: none;
    height: 7rem;
    border-radius: 12px;
    margin-bottom: 2rem;
}

.accordion-button:focus{
    background: transparent;
    color: #F3F6F0;
    margin-top: 0;
    padding-top: 2rem;
    outline: none;
    border: none;
}

.accordion-button:not(.collapsed){
    background: transparent;
    color: #F3F6F0;
    margin-top: 0;
    padding-top: 2rem;
    
}

.collapsed, .open{
    margin-bottom: 2rem;
}

.span_underline{
    text-decoration: underline;
}

.careers_main_section3{
    padding-top: 10rem;
    padding-bottom: 20rem;
}

.h5_careers{
    font-family: "myFirstFont-alt";
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.5rem;
    text-decoration: underline;
    color: #F3F6F0;
    text-align: left;
}

.h3_careers{
    font-family: "myFirstFont-alt";
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 1rem;
    text-align: left;
    padding-bottom: 5rem;
    margin-top: 5rem;
    color: #F3F6F0;
}

.p_careers{
    font-family: "mySecondFont";
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #F0F0F0;
    text-align: left;
}

/*CAREERS responsive*/

@media only screen and (max-width: 990px) {

    .careers_main_container_text{
        padding-bottom: 10rem;
    }
}

@media only screen and (max-width: 1200px) {

    .careers_main_section2_col1{
        padding-bottom: 5rem;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {

    .arrow_down_2{
        display: inline;
        padding-left: 2rem;
    }
    .arrow_side_2{
        display: none;
    }
    .about_main_section_heading{
        display: flex;
        flex-direction: row;
        padding-bottom: 5rem;
    }
}

@media only screen and (min-width: 1201px) {

    .arrow_down_2{
        display: none;
    }
    
    .about_main_section_heading{
        display: flex;
        flex-direction: column;
        padding-bottom: 5rem;
    }
}

@media only screen and (max-width: 1200px) {

    .arrow_side_2{
        display: none;
        padding-left: 5rem;
    }
    
    .about_main_section_heading{
        display: flex;
        flex-direction: row;
        padding-bottom: 5rem;
    }
}


/*
---------------------------------------------------------------------------------------------------------
CONTACT
*/

.contact_main_container{
    padding-top: 20rem;
    padding-bottom: 10rem;
    margin: 0 auto;
    width: 90%;
}

.contact_main_section2{
    padding-top: 10rem;
}

.contact_illustration{
    width: 90%;
}


/*CONTACT form*/

.form-area{
    padding-top: 10rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.form_input{
    height: 4rem;
}

.form_textarea{
    height: 8rem;
}

.right {
	position: relative;
}

.form-control {
    background-color: #f0f0f0;
    border: 1px solid #2C3238;
}

button{
    margin-top: 5rem;
    border: none;
}

.h4_contact{
    font-family: "mySecondFont";
    font-size: 6rem;
    line-height: 7rem;
}
.h5_contact{
    font-family: "myFirstFont-alt";
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.5rem;
    text-decoration: underline;
    color:  #2C3238;
    text-align: left;
}

.h3_contact{
    font-family: "myFirstFont-alt";
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 1rem;
    text-align: left;
    padding-bottom: 5rem;
    margin-top: 5rem;
    color:  #2C3238;
}

/*CONTACT responsive*/

@media only screen and (max-width: 576px) {

    .contact_main_container{
       width: 90%;
    }
}

@media only screen and (min-width: 991px) {

    .contact_main_container_text{
        padding-left: 10rem;
    }
}

@media only screen and (max-width: 990px) {

    .contact_main_container_text{
        padding-top: 10rem;
    }
}

@media only screen and (min-width: 1201px) {

    .h3_contact{
        padding-right: 1rem;
    }
}

/*
---------------------------------------------------------------------------------------------------------
BUTTONS
*/

.btn--large{
    background-color: #FFE500;
    width: 240px;
    height: 72px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn--large:hover{
    background-color: #F3F6F0;
}

.btn--large--light{
    background-color: #FFE500;
    width: 240px;
    height: 72px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 8px 8px 0px rgba(35, 35, 35, 0.20);
}

.btn--large--light:hover{
    background-color:  #2C3238;
}

.p--light{
    font-family: "mySecondFont";
    font-size: 2rem;
    line-height: 7rem;
    color:  #2C3238;
    text-align: center;
    text-decoration: none;
}

.p--light:hover{
    color:  #f3f6f0;
}

.btn--secondary{
    background-color: #FFE500;
    width: 130px;
    height: 48px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 8px 8px 0px rgba(35, 35, 35, 0.20);
    margin-top: 1rem;
}

.btn--secondary:hover{
    background-color: #F3f6f0;
}

.p_btn_secondary{
    font-family: "mySecondFont";
    font-size: 1.5rem;
    line-height: 4rem;
    color:  #2C3238;
    text-align: center;
    text-decoration: none;
}

.p_btn_secondary:hover{
    color:  #2C3238;
}

/*
---------------------------------------------------------------------------------------------------------
TEXT STYLE
*/

.p{
    font-family: "mySecondFont";
    font-size: 2rem;
    line-height: 3rem;
    color:  #2C3238;
    text-align: center;
    text-decoration: none;
}

.p:hover{
    color:  #2C3238;
}

p{
    font-family: "mySecondFont";
    font-size: 1.8rem;
    line-height: 3.5rem;
    width: 355px;
    color: #F0F0F0;
    text-align: center;
}

/*
---------------------------------------------------------------------------------------------------------
NAV
*/

header{
    width: 100vw;
}

.nav_bootstrap{
    position: fixed;
    z-index: 1;
    background-color: #F3F6F0;
    width: 100vw;
    height: 6rem;
}

.navbar-nav{
    padding-top: 2rem;
    width: 100vw;
}

.btn-burger{
    margin-top: 0;
}

.btn_logo{
    margin-top: 0;
    padding-top: 5rem;
    position: relative;
}

.nav-link{
    list-style-type: none;  
}

.li--light{ 
    font-family: "myFirstFont-bold";
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 0.5rem;
    text-decoration: none;
    -webkit-text-stroke: 0.1rem #2C3238;
    color: #F3F6F0;
    padding-top: 8rem;
}

.li--light:hover{ 
    -webkit-text-stroke: 0;
    color: #2C3238;
}

.li--light--active{ 
    font-family: "myFirstFont-bold";
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 0.5rem;
    text-decoration: none;
    color:  #2C3238;
    padding-top: 8rem;
}

.li--dark{ 
    font-family: "myFirstFont-bold";
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 0.5rem;
    text-decoration: none;
    -webkit-text-stroke: 0.1rem #f3f6f0;
    color: transparent;
    padding-top: 8rem;
}

.li--dark--active{ 
    font-family: "myFirstFont-bold";
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 0.5rem;
    text-decoration: none;
    color:  #f3f6f0;
    padding-top: 8rem;
}

.li--dark--active:hover{ 
    color:  #f3f6f0;
}

.li--dark:hover{ 
    color:  #f3f6f0;
}

/*NAV responsive*/ 

@media only screen and (max-width: 990px) {
    .li--light{ 
        padding-top: 4rem;
    }
    
    .li--light--active{ 
        padding-top: 4rem;
    }
    
    .li--dark{ 
        padding-top: 4rem;
    }
    
    .li--dark--active{ 
        padding-top: 4rem;
    }
}

@media screen and (max-width: 990px) {
    .btn_logo{
        padding-top: 1rem;
    }
    .nav_bootstrap{
        height: 10rem;
    }

    .navbar-nav{
        height: 90vh;
    }
}


/*
---------------------------------------------------------------------------------------------------------
FOOTER
*/

footer{
    background-color:  #2C3238;
    padding: 5rem 0;
}

.h6-footer{
    font-family: "mySecondFont";
    font-size: 1.7rem;
    line-height: 2.7rem;
    width: 355px;
    color: #F0F0F0;
    text-decoration: none;
    text-align: left;
    padding-bottom: 2rem;
}

.p-footer{
    font-family: "mySecondFont";
    font-size: 1.5rem;
    line-height: 2.5rem;
    width: 355px;
    color: #F0F0F0;
    text-decoration: none;
    text-align: left;
}

.footer_contact_frame{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 1rem;
}

.footer_icn{
    padding-right: 2rem;
}

.footer_logo{
    width: 90%;
}

/*FOOTER responsive*/ 

@media only screen and (max-width: 992px) {

.footer_column2,
.footer_column3{
    padding-left: 4rem;
    padding-top: 4rem;
}
    
}

/*
---------------------------------------------------------------------------------------------------------
GENERAL
*/

.body_container--dark{
    background-color: #2C3238;
}

.body_container--light{
    background-color: #F3F6F0;
    width: 100vw;
}

a{
    text-decoration: none;
}

.display_block{
    display: block;
    box-sizing: content-box;
}

.width_100{
    width: 100%;
}

.dark_bg{
    background-color: #2C3238;
}

.light_bg{
    background-color: #F3F6F0;
}

.dark_text{
    color: #2C3238;
}

.light_text{
    color: #F3F6F0;
}

.left_align{
    text-align: left;
}

.center_align{
    text-align: center;
}

.position_absolute{
    position: absolute;
}

.padding_left{
    padding-left: 6rem;
}