@import 'footer';
@import 'header';
@import 'variables';
@import 'general';

@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-column-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

@mixin flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-row-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.text--dark{
    @include color-dark;
}

.about_main_container{
    width: $w90;
    overflow: hidden;
    padding-top: 5rem;

    .about_main_section1{
        margin-bottom: 10rem;
    }
    
    .about_main_section2,
    .about_main_section3,
    .about_main_section4, 
    .about_main_section5,
    .about_main_section6{
        padding-top: 10rem;
    }
    
    .about_main_section6{
        padding-bottom: 20rem;
    }
}

/*----------ACCORDION-------------------*/

.bg--yellow{
    background-color: #FFE500;
}

.about_accordion{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.about_accordion-item {
    color:  #FFE500;
    background-color:  #FFE500;
    border: 2px solid #2C3238;
    border-radius: 10px;
    padding: 2rem;
    padding-top: 5rem;
}

.about_accordion-button{
    width: 100%;
    padding-top: 2rem;
    border: none;
    @include flex-column-center;
}

.about_accordion-button:not(.collapsed) {
    width: 100%;
}

.about_accordion-body{
    width: 100%;
}

.h2_about_card{
    font-family: "myFirstFont-bold";
    font-size: 8rem;
    line-height: 8rem;
    letter-spacing: 1rem;
    text-align: center;
    -webkit-text-stroke: .01rem #2C3238;
    text-shadow: -2px -2px 0 #2C3238,
                2px -2px 0 #2C3238,
                -2px 2px 0 #2C3238,
                2px 2px 0 #2C3238;
    color: #F0F0F0;
}

.lottie-arrow{
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.p_about_section1_card{
    font-family: "mySecondFont";
    font-size: 1.6rem;
    line-height: 3rem;
    color: #2C3238;
    text-align: left;
    padding-top: 2rem;
    width: 100%;
}

.about_accordion {
    --bs-accordion-color: transparent;
    --bs-accordion-bg: transparent;
    --bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
    --bs-accordion-border-color: transparent;
    --bs-accordion-border-width: ;
    --bs-accordion-border-radius: ;
    --bs-accordion-inner-border-radius: ;
    --bs-accordion-btn-padding-x: ;
    --bs-accordion-btn-padding-y: ;
    --bs-accordion-btn-color: ;
    --bs-accordion-btn-bg: ;
    --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    --bs-accordion-btn-icon-width: 2rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23052c65'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    --bs-accordion-btn-focus-border-color: #FFE500;
    --bs-accordion-btn-focus-box-shadow: ;
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: ;
    --bs-accordion-active-bg: #FFE500;
}

/*-----------------------------*/

.about_main_section2_card{
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.about_main_section2_card_p{
    padding-top: 2rem;
}

.h5_about_section2{
    font-family: "mySecondFont";
    font-size: 3rem;
    line-height: 5rem;
    letter-spacing: 0.5rem;
    padding-top: 2rem;
}

.p_about_section2{
    font-family: "mySecondFont";
    font-size: 1.8rem;
    line-height: 2.8rem;
    
}

/*-----------------------------*/

.frame_stroke{
    @include flex-column-center;
    padding-top: 8rem;
}

.about_yellowstroke{
    width: 400px;
}

/*-----------------------------*/

.about_main_section4_details{
    display: flex;
    flex-direction: row;
}

.about_main_section4_col2{
    @include flex-column-right;
}

/*-----------------------------*/


.p_about_section3{
    font-size: 1.5rem;
    line-height: 2.5rem;
}


.h3_about{
    font-family: "myFirstFont-alt";
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: 1rem;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 3rem;
    margin-top: 10rem;
    color: #2C3238;
}

.h2_about{
    font-family: "myFirstFont-bold";
    font-size: 8rem;
    line-height: 10rem;
    letter-spacing: 1rem;
    text-align: center;
    padding-bottom: 3rem;
    color: #2C3238;
}

.h4_about{
    font-family: "mySecondFont";
    font-size: 6rem;
    line-height: 10rem;
}

.h5_about{
    font-family: "myFirstFont-alt";
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.5rem;
    color: #F0F0F0;
    padding-bottom: 2rem;
}

.h6_about{
    font-family: "myFirstFont-alt";
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.5rem;
    color: #F0F0F0;
}

.h5_about_section3{
    font-family: "mySecondFont";
    font-size: 3rem;
    line-height: 5rem;
    letter-spacing: 0.5rem;
    position: absolute;
    padding-left: 6rem;
}

.h4_about_section{
    font-family: "mySecondFont";
    font-size: 3rem;
    line-height: 5rem;
    letter-spacing: 0.5rem;
}

/*ABOUT responsive*/

@media only screen and (min-width: 1201px) and (max-width: 1400px) {

    .about_main_card--default{
        width: 350px;
        height: 350px;
    }
    
    .about_main_card--hover{
        width: 350px;
        height: 350px;
        padding-top: 4rem;
    }

    .p_about_section1_card{
        font-size: 1.6rem;
        line-height: 3rem;
    }

    .about_main_section2_card{
        display: flex;
        flex-direction: column;
        padding-right: 1rem;
    }

    .h5_about_section2{
        font-size: 2.5rem;
        line-height: 4rem;
        letter-spacing: 0.5rem;
        padding-top: 2rem;
    }
    
    .p_about_section2{
        font-size: 1.7rem;
        line-height: 2.7rem;
    }

    }

@media only screen and (min-width: 1201px) {

    .about_main_card--default{
        position: absolute;
        transition: 5s;
    }

    .about_main_card--default:hover{
        display: none;
}
}

@media only screen and (min-width:769px) and (max-width:1200px) {

    .about_main_frame_card{
        @include flex-row-center;
        margin-bottom: 5rem;
    }

    .about_main_card--default{
        margin-right: 5rem;
        width: 350px;
        height: 350px;
    }

    .about_main_card--hover{
        width: 350px;
        height: 350px;
    }

    .p_about_section1_card{
        font-size: 1.6rem;
        line-height: 2.6rem;
    }

    .about_main_section2_card{
        display: flex;
        flex-direction: column;
        padding-right: 1rem;
    }

    .h5_about_section2{
        font-size: 2.5rem;
        line-height: 4rem;
        letter-spacing: 0.5rem;
        padding-top: 2rem;
    }

    .h2_about_card{
        font-size: 7rem;
        line-height: 8rem;
        letter-spacing: 0.5rem;
    }
    
    .p_about_section2{
        font-size: 1.7rem;
        line-height: 2.7rem;
    }

}

@media only screen and (min-width:769px) and (max-width:1400px) {

    .about_main_section4_details{
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .about_main_section4_heading{
        padding-bottom: 2rem;
    }
}

@media only screen and (min-width: 991px) {
    .about_main_section3_subheading{
        padding-left: 5rem;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
    
}

@media only screen and (max-width: 990px) {

    .arrow_down{
        display: inline;
        padding-left: 2rem;
    }
    .arrow_side{
        display: none;
    }
    .about_main_section_heading{
        display: flex;
        flex-direction: row;
        padding-bottom: 5rem;
    }

    .h2_about_card{
        font-size: 12rem;
        line-height: 13rem;
        letter-spacing: 1rem;
    }

    .about_accordion-item{
        margin-bottom: 2rem;
    }

}

@media only screen and (max-width: 768px) {

    .about_main_frame_card{
        @include flex-column-center;
        margin-bottom: 5rem;
    }

    .about_main_card--default{
        margin-bottom: 5rem;
    }

    .about_main_section2_card{
        display: flex;
        flex-direction: column;
    }

    .h5_about_section2{
        font-size: 2.5rem;
        line-height: 4rem;
        letter-spacing: 0.5rem;
        padding-top: 2rem;
    }
    
    .p_about_section2{
        font-size: 1.7rem;
        line-height: 2.7rem;
    }

    .about_main_section_img{
        display: none;
    }

    .about_accordion-item{
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 576px) {

    .about_main_frame_card{
        @include flex-column-center;
        margin-bottom: 5rem;
    }

    .about_main_card--default{
        width: 280px;
        height: 280px;
        margin-bottom: 5rem;
        padding-top: 3rem;
    }

    .about_main_card--hover{
        width: 280px;
        height: 300px;
    }

    .p_about_section1_card{
        font-size: 1.6rem;
        line-height: 2.6rem;
    }

    .h5_about{
        font-size: 2rem;
        line-height: 3rem;
        width: 240px;
    }

    .h2_about_card{
        font-size: 10rem;
        line-height: 12rem;
        letter-spacing: 0.5rem;
    }

    .h2_about{
        font-size: 6rem;
        line-height: 7rem;
        letter-spacing: 0.5rem;
        width: 90%;
    }

    .h4_about{
        font-size: 5rem;
        line-height: 7rem;
    }

    .h5_about_section3{
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    .about_yellowstroke{
        width: 280px;
    }

    .p_about_section3{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .h4_about_section{
        font-size: 3rem;
        line-height: 4rem;
        padding-bottom: 2rem;
    }

    .about_main_section4_details{
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .about_main_section4_heading{
        padding-bottom: 2rem;
    }
}